<h1> Product Details</h1>
<a href="/product">Product list</a>
<section class="container">

    <hr>

    <div class="row">

        {{!-- {{#each fav} --}}
        <div class="col-md-4">
            <article class="character">
                <h2>{{brand}} <small></small></h2>
                <hr>
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>Price ${{price}}</p>
                <p>{{rating}}</p>
                <p class="badge badge-pill badge-primary">{{tag_list}}</p>

                <div>
                    <img src="{{image_link}}" width="200" height="200">
                </div>

            </article>
</section>
{{!-- <div>
    <img src="{{path}}" height="200">
</div> --}}