<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      background-image: url('makeupcollage.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
</head>

<div class="index-selection">
  <h1>{{title}} 🚀</h1>


</div>


{{!-- <style>
  body {
    background-image: url('makeupcollage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style> --}}

<h1 style="text-align: center;"></h1>

<a href="/about"> About Us</a>

<a href="/auth/signup"> Sign-Up</a>
<a href="/auth/login"> Login</a>

{{!-- <a href="/rankings"> Product Search</a>
<a href="/user/profile">Profile Page</a> --}}

{{!-- <h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}



{{!-- <a href="/auth/login"> Login</a> --}}



{{!--
<a href="/rankings/edit/{{id}}">Edit</a>

<a href="/rankings/delete/{{id}}">Delete</a>

<a href="/rankings/delete/{{id}}">Delete</a> --}}


{{!-- <a href="/auth/login"> Login</a> --}}

{{!-- <a href="/product"> Products List </a>
<a href="/collection/create"> Create Collection </a> --}}

<img src="https://i.pinimg.com/originals/dc/b7/b7/dcb7b77fc98b183783ed5891825d513d.jpg" alt="">