<section class="container">
    <h1>Product list</h1>
    <hr>

    <div class="row">

        {{#each product}}
        <div class="col-md-4">
            <article class="product">
                <h2>{{name}} <small>(ID {{id}})</small></h2>
                <hr>
                <p>Brand: {{brand}}</p>
                <p>Description: {{description}}</p>
                <div class="btn-group" style="width: 100%">
                    <a href="/product/edit/{{id}}" class="btn btn-outline-dark btn-sm">Edit Product</a>
                    <a href="/product/delete/{{id}}" class="btn btn-dark btn-sm">Delete Product</a>
                </div>
            </article>
        </div>
        {{/each}}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </div>

</section>