<h1>What's The Favorite?</h1>

<div class="query-results-container">

    <h1>Products</h1>


    <div>
        <input id="product-name-input" type="text" />
        <button id="get-product-btn">Search</button>
    </div>



    <div>
        <h1 id="product-brand">{{brand}}</h1>
        <h2 id="product-name">{{name}}</h2>
        <p id="product-description">{{description}}</p>
        <p id="price"></p>
        <a href="/collection/create/{{id}}" class="btn btn-success">Add Favorite</a>
        {{!-- <button id="add-favorites-button">Add Favorites</button> --}}

        {{!-- <button id="add-favorites-button">Add Favorites</button> --}}

    </div>
    <div>
        <img id="image_link" src="" height="200px" />
    </div>


    {{!-- <div>
        <h1 id="product-brand1"></h1>
        <h2 id="product-name1"></h2>
        <p id="product-description1"></p>
        <p id="price1"></p>
        {{!-- <button id="add-favorites-button1">Add Favorites</button> --}}
        <a href="/rankings/create/{{id}}" class="btn btn-success">Add Favorite</a>

        <button id="add-favorites-button1">Add Favorites</button>

    </div>
    <div>
        <img id="image_link1" src="" height="200px" />
    </div>

    <div>
        <h1 id="product-brand2"></h1>
        <h2 id="product-name2"></h2>
        <p id="product-description2"></p>
        <p id="price2"></p>
        {{!-- <button id="add-favorites-button2">Add Favorites</button> --}}
        <a href="/rankings/create/{{id}}" class="btn btn-success">Add Favorite</a>
    </div>
    <div>
        <img id="image_link2" src="" height="200px" />



    </div>


    <div>
        <h1 id="product-brand3"></h1>
        <h2 id="product-name3"></h2>
        <p id="product-description3"></p>
        <p id="price3"></p>
        <a href="/rankings/create/{{id}}" class="btn btn-success">Add Favorite</a>
        {{!-- <button id="add-favorites-button3">Add Favorites</button> --}}
    </div>
    <div>
        <img id="image_link3" src="" height="200px" />

    </div>

    <div>

        <h1 id="product-brand4"></h1>
        <h2 id="product-name4"></h2>
        <p id="product-description4"></p>
        <p id="price4"></p>
        <a href="/rankings/create/{{id}}" class="btn btn-success">Add Favorite</a>
        {{!-- <button id="add-favorites-button4">Add Favorites</button> --}}
    </div>
    <div>
        <img id="image_link4" src="" height="200px" />

    </div>
    --}}



    <<<<<<< HEAD=======>>>>>>> 79fba95773362819a1d8c8366f8e0c10f66b734b
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="/js/script.js"></script>

</div>