{{!-- <h2>Room {{responseFromDB.name}}</h2>

<img src="{{responseFromDB.imageUrl}}" alt="{{responseFromDB.name}} image" height="200">
<p>{{roomFromDB.owner.username}} - {{responseFromDB.description}}</p>
{{#if isOwner}}
<a href="/room/{{_id}}/edit">Edit the room</a>
{{/if}}
{{!-- --}}
{{#each responseFromDB.reviews}}
<p>{{user.username}}</p>
<p>{{comment}}</p>
{{/each}}

{{#if isAuth}}
{{#unless isOwner}}
<form action="/review/{{responseFromDB._id}}/create" method="post">
    <input type="text" name="comment" placeholder="comment">
    <button type="submit">Submit review</button>
</form>
{{/unless}}
{{/if}} --}}