<h2>Update a Collection</h2>
{{!-- http://localhost:3000/collection/edit/615215563f26b89be35603ce --}}
{{!-- {{name}}
{{brand}}
{{description}} --}}
<form action="/edit/{{this._id}}" method="POST">
    <input type="hidden" name="_id" value="{{_id}}">
    <label>
        Name:
        <input type="text" name="name" value="{{name}}">
    </label>
    <br>

    <label>
        Brand:
        <input type="text" name="brand" value="{{brand}}">
    </label>
    <br>
    <label>
        Description:
        <textarea name="description" cols="30" rows="5"> {{description }} </textarea>
    </label>
    <br>



    <button type="submit">Save changes</button>
</form>