<div class="container">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1>Edit {{product.name}}</h1>

                <hr>

                <form action="/product/edit/{{product.id}}" method="post">
                    <label>
                        Name: <input type="text" name="name" value="{{product.name}}">
                    </label>

                    <label>
                        Brand: <input type="text" name="brand" value="{{product.brand}}">
                    </label>

                    <label>
                        Description: <input type="text" name="weapon" value="{{product.description}}">
                    </label>

                    <input type="submit" value="Update character" class="btn-dark btn">
                </form>

            </div>
        </div>
    </div>

</div>